<!-- jQuery Plugins -->
<script src="/client/js/jsrender.min.js"></script>
<script src="/client/js/jquery.min.js"></script>
<script src="/client/js/bootstrap.min.js"></script>
<script src="/client/js/slick.min.js"></script>
<script src="/client/js/nouislider.min.js"></script>
<script src="/client/js/jquery.zoom.min.js"></script>
<script src="/client/js/main.js"></script>
<script src="/client/js/jquery.bootpag.min.js"></script>
<script src="/client/js/js_main.js"></script>
<script th:inline="javascript">
    var authen_status=[[${#authorization.expression('isAuthenticated()')}]];
</script>