<!--<div class="container-fluid banner-bottom">-->
    <!--&lt;!&ndash; banner &ndash;&gt;-->
    <!--<div class="row">-->
        <!--<div class="col-md-12 " style="margin: 0px !important;padding:0px !important;">-->
            <!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">-->
                <!--<div class="carousel-inner index-slide">-->
                    <!--<div class="carousel-item active">-->
                        <!--<img class="d-block w-100 img-fluid" src="/client/img/1.jpg" alt="First slide">-->
                    <!--</div>-->
                    <!--<div class="carousel-item">-->
                        <!--<img class="d-block w-100 img-fluid" src="/client/img/2.jpg" alt="Second slide">-->
                    <!--</div>-->
                    <!--<div class="carousel-item">-->
                        <!--<img class="d-block w-100 img-fluid" src="/client/img/3.jpg" alt="Third slide">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
                    <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">Previous</span>-->
                <!--</a>-->
                <!--<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
                    <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">Next</span>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end banner &ndash;&gt;-->
<!--</div>-->



<div class="container-fluid banner-bottom slide-banner" xmlns:th="http://www.thymeleaf.org">
    <!-- banner -->
    <div class="row">
        <div class="col-md-12 " style="margin: 0px !important;padding:0px !important;">
            <section>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner index-slide">

                        <div class="carousel-item active">
                            <img class="d-block w-100 img-fluid" th:src="${sl_active.url}" alt="First slide">
                        </div>

                        <div th:each="slide:${slides}" class="carousel-item">
                            <img class="d-block w-100 img-fluid" th:src="${slide.url}" alt="First slide">
                        </div>
                        <!--<div class="carousel-item">-->
                            <!--<img class="d-block w-100 img-fluid" src="/client/img/2.jpg" alt="Second slide">-->
                        <!--</div>-->
                        <!--<div class="carousel-item">-->
                            <!--<img class="d-block w-100 img-fluid" src="/client/img/3.jpg" alt="Third slide">-->
                        <!--</div>-->
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>
            <!--<section class="search-sec">-->
                <!--<div class="container">-->
                    <!--<form action="#" method="post" novalidate="novalidate">-->
                        <!--<div class="row">-->
                            <!--<div class="col-lg-12">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-lg-4 col-md-3 col-sm-12 p-0">-->
                                        <!--<input type="text" class="form-control search-slt" placeholder="ស្វែងរក រថយន្ត និង យានយន្ត..." id="input_srch">-->
                                    <!--</div>-->
                                    <!--<div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
                                        <!--<select class="form-control search-slt BR_LIST_OUTPUT">-->
                                            <!--<option selected>ម៉ាក</option>-->
                                            <!--<option>...</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                    <!--<div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
                                        <!--<select class="form-control search-slt LO_LIST_OUTPUT">-->
                                            <!--<option selected>ទីតាំង</option>-->
                                            <!--<option>...</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                    <!--<div class="col-lg-2 col-md-3 col-sm-12 p-0">-->
                                        <!--<button type="button" class="btn btn-danger wrn-btn" id="btn_srch">Search</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</section>-->
        </div>
    </div>
    <!-- end banner -->
</div>