<!-- HOT DEAL SECTION --><!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/laout"
      layout:decorate="~{/client/layout/index_layout}">
<head>
    <title>card</title>
    <style>
        .product-label .new:hover{
            cursor: pointer;
            border-radius: 50%;
        }
    </style>
</head>

<body class="bg-body">
<th:block layout:fragment="content">

    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">My Card</h3>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-3" th:each="ca:${card}">
                    <div class="product">
                        <div class="product-img">
                            <img th:src="${ca.url}" alt="">
                            <div class="product-label">
                                <span class="new">X</span>
                            </div>
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#" th:text="${ca.name}">product name goes here</a></h3>
                            <h4 class="product-price">$<span th:text="${ca.price}"></span>

                            </h4>
                            <div class="input-group"
                                 style="text-align: center;float: center;margin: auto;    padding-bottom: 10px;">
                                <div class="price-filter">
                                    <div id="price-slider"></div>
                                    <div class="input-number price-min">
                                        <input id="price-min" disabled type="number" th:value="${ca.qty}">
                                        <span class="qty-up">+</span>
                                        <span class="qty-down">-</span>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="add-to-carts">-->
                                <!--<button class=" btn-primary add-to-cart-btn primary-btn"><i-->
                                        <!--class="fa fa-shopping-cart"></i> Add to Wishlist-->
                                <!--</button>-->
                                <!--&lt;!&ndash; <button class="btn btn-lg btn-primary primary-btn order-submit btn-block btn-info" type="submit">Register</button> &ndash;&gt;-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>



            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-6" >
                    <div class="newsletter" style="text-align: left;">
                        <p><strong>SUB TOTAL: </strong></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter" style="text-align: right;">
                        <p><strong>$<span th:text="${totalAmount}">35.00</span> </strong></p>
                    </div>
                </div>
            </div>
            <!-- /row -->
            <hr>
            <div class="row">
                <div class="col-md-6" >
                    <div class="newsletter" style="text-align: left;">
                        <button class=" btn-primary add-to-cart-btn primary-btn">Delete All Items
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter" style="text-align: right;">
                        <button class=" btn-primary add-to-cart-btn primary-btn btn-info"><i
                                class="fa fa-shopping-cart"></i> Checkout All Items
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->


</th:block>
</body>
</html>
<script src="/client/js/js_card.js"></script>
<script th:inline="javascript">
    var auth_user_id=[[${#authentication.principal.id}]];
</script>