<!-- HOT DEAL SECTION --><!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/laout"
      layout:decorate="~{/client/layout/index_layout}">
<head>
    <title>Index</title>
</head>

<body class="bg-body">
<th:block layout:fragment="content">

    <input type="hidden" id="category_id" th:value="${category_id}">

    <div class="container" id="PAGE_SCROLL">

    </div>

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title" th:text="${catename}"></h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li><a data-toggle="tab" href="#tab1"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section title -->



                <!--Render product html-->
                <!--<script id="RENDER_PRODUCT" type="text/x-jsrender">
                    <div class="col-md-3 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    <img src="{{:url}}" alt="">
                                    <div class="product-label">
                                        <span class="new">NEW</span>
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">{{:category.name}}</p>
                                    <h3 class="product-name"><a href="#">{{:name}}</a></h3>
                                    <h4 class="product-price">${{:price}}

                                    </h4>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                class="tooltipp">add to wishlist</span>
                                        </button>
                                        <button class="add-to-compare"><i class="fa fa-exchange"></i><span
                                                class="tooltipp">add to compare</span>
                                        </button>
                                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                </script>-->
                <!--render product html-->




                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row PRODUCT_ID_RENDER" >

                    </div>
                </div>


                <div class="col-md-12 text-right">
                    <br><br>
                    <div id="pagination-here" class="pull-right">
                        <!--All Pagination here-->
                    </div>

                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->

</th:block>
</body>
</html>

<script src="/client/js/js_category.js"></script>