<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/laout"
      layout:decorate="~{/admin/layout/admin}">
<head>
    <title>index</title>
</head>

<body>


<th:block layout:fragment="content">
    <div class="content-wrapper">
        <!--        Product Posted Today-->
        <br>
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- /.col-md-6 -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="m-0">Today Posted Products List</h5>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>PName</th>
                                            <th>CreateDate</th>
                                            <th>ModifiedDate</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p: ${category}">
                                            <td th:text="${p.id}">Trident</td>

                                            <td th:text="${p.name}">Trident</td>
                                            <td th:text="${p.createdDate}">Trident</td>
                                            <td th:text="${p.modifiedDate}">Trident</td>
                                            <td align="center">
                                                <a class="btn btn-primary">
                                                    <!--                                                Edit-->
                                                    <span class="fa fa-edit c-white"></span>
                                                </a>
                                                <a href="" class="btn btn-info">
                                                    <!--                                                    <button type="submit"​ th:value="View" class="btn btn-info">-->
                                                    <!--                                                        &lt;!&ndash;                                                    <span class="fas fa-edit c-white"></span>&ndash;&gt;-->
                                                    <!--                                                    </button>--><span
                                                        class="fa fa-street-view c-white"></span>
                                                </a>
                                                <a id="btnBlock" href="#" class="btn btn-danger">
                                                    <!--                                                    <button type="submit"​ th:value="View" class="btn btn-info">-->
                                                    <!--                                                        &lt;!&ndash;                                                    <span class="fas fa-edit c-white"></span>&ndash;&gt;-->
                                                    <!--                                                    </button>-->
                                                    <span class="fa fa-black-tie c-white"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <!--<tr>-->
                                        <!--<th>No</th>-->
                                        <!--<th>User Name</th>-->
                                        <!--<th>Product Name</th>-->
                                        <!--&lt;!&ndash;                                            <th>Description</th>&ndash;&gt;-->
                                        <!--<th>Action</th>-->
                                        <!--</tr>-->
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>

</th:block>


</body>

</html>

