<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/laout"
      layout:decorate="~{/admin/layout/admin}">
<head>
    <title>index</title>
    <style>
        .text-red {
            color: red;
        }
    </style>
</head>

<body>


<th:block layout:fragment="content">
    <div class="content-wrapper">
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create Products</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" id="create_form" method="post" th:action="@{/admin/dashboard/product/save}">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Product Name: </label>
                            <small class="text-red" id="error_productname"> is required!</small>
                            <input type="text" class="form-control" th:field="${product.name}"
                                   placeholder="Enter product name">
                        </div>
                        <div class="form-group">
                            <label>Unit Price</label>
                            <small class="text-red" id="error_productprice"> is required!</small>
                            <input type="number" class="form-control" th:field="${product.price}"
                                   placeholder="Enter unit price">
                        </div>
                        <div class="form-group">
                            <label>Quantity: </label>
                            <small class="text-red" id="error_productqty"> is required!</small>
                            <input type="number" class="form-control" th:field="${product.qty}"
                                   placeholder="Enter Quantity">
                        </div>
                        <div class="form-group">
                            <label>Choose Category</label>
                            <select class="form-control" th:field="${product.category.id}">
                                <option th:each="cat:${category}" th:value="${cat.id}" th:text="${cat.name}">option 1
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- /.card-body -->


                </form>
                <div class="content">
                    <form action="/api/upload" method="post" enctype="multipart/form-data"
                          class="dropzone" id="my-awesome-dropzone" style=" margin: 0 20px;">

                    </form>

                </div>
                <div class="card-footer text-right">
                    <button type="submit" id="btn_save" class="btn btn-primary">save</button>
                </div>
            </div>
            <!-- /.card -->

        </div>

    </div>

</th:block>


</body>

</html>


<script th:inline="javascript">

    $('#error_productname').hide();
    $('#error_productprice').hide();
    $('#error_productqty').hide();

    $(function () {


        $('#btn_save').click(function () {
            var name = $.trim($('#name').val());
            var price = $.trim($('#price').val());
            var qty = $.trim($('#qty').val());

            if (name == '') {
                $('#error_productname').show();
                $('#name').focus();
                return;
            }
            if (price == '' && !$.isNumeric(price)) {
                $('#error_productprice').show();
                $('#price').focus();
                return;
            }

            if (qty == '') {
                $('#error_productqty').show();
                $('#qty').focus();
                return;
            }

            $('#create_form').submit();
        });

    });


</script>



