<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/laout"
      layout:decorate="~{/admin/layout/admin}">
<head>
    <title>index</title>
</head>

<body>


<th:block layout:fragment="content">
    <div class="content-wrapper">
        <!--        Product Posted Today-->
        <br>
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- /.col-md-6 -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="m-0">Today Posted Products List</h5>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Profile</th>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p: ${product}">
                                            <td th:text="${p.id}">Trident</td>
                                            <td align="center"><img th:src="${p.url}" alt="" th:width="50" th:high="50">
                                            </td>
                                            <td th:text="${p.name}">Trident</td>
                                            <td th:text="${p.price}">Trident</td>
                                            <td th:text="${p.qty}">Trident</td>
                                            <td align="center">
                                                <!--<a class="btn btn-primary">-->
                                                    <!--&lt;!&ndash;                                                Edit&ndash;&gt;-->
                                                    <!--<span class="fa fa-edit c-white"></span>-->
                                                <!--</a>-->

                                                <a id="btnBlock" th:href="@{/product/remove/{id}(id=${p.id})}" class="btn btn-danger">
                                                    <!--                                                    <button type="submit"​ th:value="View" class="btn btn-info">-->
                                                    <!--                                                        &lt;!&ndash;                                                    <span class="fas fa-edit c-white"></span>&ndash;&gt;-->
                                                    <!--                                                    </button>-->
                                                    <span class="fa fa-remove c-white"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <!--<tr>-->
                                        <!--<th>No</th>-->
                                        <!--<th>User Name</th>-->
                                        <!--<th>Product Name</th>-->
                                        <!--&lt;!&ndash;                                            <th>Description</th>&ndash;&gt;-->
                                        <!--<th>Action</th>-->
                                        <!--</tr>-->
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>

</th:block>


</body>

</html>

