<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019
        <a href="http://citycar999.com">students</a>.</strong> All rights reserved.
</footer>