
<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin/dist/js/adminlte.min.js"></script>
<!-- DataTables -->
<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables/dataTables.bootstrap4.js"></script>
<link rel="stylesheet" href="/client/vedor/pagination.min.css">

<script src="/client/vedor/dropzone/dropzone.min.js"></script>
<script>
    $(function () {
        $("#example1").DataTable({

            "scrollCollapse": true,
            "paging":         true
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>



<script th:inline="javascript">

    var image_list=[];
    var authUserId = [[${#authentication.principal.id}]];


    Dropzone.options.myAwesomeDropzone = {
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 5, // MB
        maxFiles: 8,
        dictDefaultMessage: 'សូមទម្លាក់រូបភាពនៅទីនេះ',
        acceptedFiles: "image/*",
        addRemoveLinks: true,
        resizeQuality: 0.6,
        removedfile: function(file,response) {
            console.log("REmove File: ",file);
            console.log("REmove File: ",response);
            // removeImagePath(response.data,null);
            removeSuccessUpload(file.upload.uuid);
            var _ref;
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        init: function () {
            this.on("maxfilesexceeded", function (file) {
                alert("Maximum of picture is only 8");
                this.removeEventListeners();
            });
        },
        success: function (file,response) {
            console.log(file);
            image_list.push(response.data);
            uploadSuccess(response.data,file.upload.filename,file.upload.uuid,$('#user.id').val());
        }
    };




    function uploadSuccess(filename, originalFilename,uuid,url,productId){
        var data={
            "filename":filename,
            "originalFilename":originalFilename,
            "uuid":uuid,
            "url":url,
            "userId":authUserId
        }
        $.ajax({
            url: "/api/image",
            type: "POST",
            data:JSON.stringify(data),
            dataType: 'json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");
            },
            success: function (data) {
                console.log("success");
            },
            error: function (data) {
                console.log(data);
            }
        });
    }


    function removeSuccessUpload(uuid){
        $.ajax({
            url: "/api/image?uuid="+encodeURIComponent(uuid),
            type: "DELETE",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");
            },
            success: function (data) {
                console.log("success");
            },
            error: function (data) {
                console.log(data);
            }
        });
    }


    function deleteAllTempImage(authUserId) {
        $.ajax({
            url: "/user/api/image/all?userId="+authUserId,
            type: "DELETE",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");
            },
            success: function (data) {
                console.log("success");
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
</script>
