
<!-- Font Awesome Icons -->
<link rel="stylesheet" href="/admin/plugins/font-awesome/css/font-awesome.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<!-- DataTables -->
<link rel="stylesheet" href="/admin/plugins/dataTables/dataTables.bootstrap4.css">
<link rel="stylesheet" href="/client/vedor/dropzone/dropzone.min.css">